@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-image: url("https://i.pinimg.com/originals/c4/80/51/c48051920e7d210d192a43ee80edd4ea.gif");
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
}

canvas {
  touch-action: none;
}

#cat {
  position: fixed;
  top: -20px;
}

.instruction {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  z-index: 99999;
  color: white;
  font-size: 40px;
  text-align: center;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .instruction {
    font-size: 20px;
  }

  .location_pin {
    width: 20px;
    height: 20px;
  }

  /* .singapore {
    left: 283px;
    top: 350px;
  }

  .jakarta {
    left: 841px;
    top: 400px;
  }

  .dubai {
    left: 310px;
    top: 130px;
  } */
}

.location_pin {
  width: 40px;
  height: 40px;
  animation: pulse 0.5s ease-in infinite;
}

.singapore {
  position: fixed;
  z-index: 9999px;
  left: 785px;
  top: 362px;
  display: none;
}

.jakarta {
  position: fixed;
  z-index: 9999px;
  left: 844px;
  top: 420px;
  display: none;
}

.dubai {
  position: fixed;
  z-index: 9999px;
  left: 295px;
  top: 138px;
  display: none;
}

.pressed {
  border-color: transparent transparent transparent yellow !important;
}

.navigator-arrow-container {
  position: fixed;
  left: 127px;
  bottom: 30px;
}

.navigator-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent red;
  border-width: 40px 0px 40px 40px;
}

.navigator-left-right-container {
  display: flex;
  justify-content: space-between;
  width: 175px;
  position: relative;
  right: 68px;
}

.ArrowUp {
  transform: rotate(-90deg);
}

.ArrowRight {
  transform: rotate(0deg);
}

.ArrowDown {
  transform: rotate(90deg);
}

.ArrowLeft {
  transform: rotate(180deg);
}
